
((digest . "630805ab1262295d9725c9276b2398b4") (undo-list (#("
" 0 1 (fontified t)) . -297) (t 21286 52649 0 0) ((marker . 297) . -1) ((marker . 297) . -1) ((marker) . -1) ((marker) . -1) ((marker . 297) . -1) ((marker . 297) . -1) ((marker . 297) . -1) ((marker . 297) . -1) nil (#(" " 0 1 (fontified t)) . -298) nil (#(" " 0 1 (fontified t)) . -299) nil (#("}" 0 1 (fontified t)) . -300) (t 21286 52124 0 0) ((marker*) . 1) ((marker) . -1) ((marker) . -1) nil (#("  div.text-container{
    padding: 250px 0px;
  }
" 0 20 (fontified t face (css-selector)) 20 22 (fontified t) 22 26 (fontified t) 26 33 (fontified t face css-property) 33 46 (fontified t) 46 50 (fontified t)) . -298) (t 21286 52123 0 0) ((marker . 297) . -50) nil (#("  div.eye_catch{
    width: 100%;
    height: 460px;
    background-color: rgb(235,235,235);
    posision: relative;
  }
  div.second_page{
    background-color: rgb(210,210,210);
    width: 100%;
    height: 800px;
    p.copy-exlarge{
      color: rgb(30,30,30);
      line-height: 5;
    }
  }
  div.third_page{
    background-color: rgb(255,255,255);
    width: 100%;
    height: 680px;
    p.copy-large{
      color: #000;
      line-height: 3;
    }
    .enroll{
      margin: 0 auto;
      text-align:center;
      font-size: 20px;
      margin-top: 50px;
    }
" 0 15 (fontified t face (css-selector)) 15 21 (fontified t) 21 26 (fontified t face css-property) 26 38 (fontified t) 38 44 (fontified t face css-property) 44 57 (fontified t) 57 73 (fontified t face css-property) 73 97 (fontified t) 97 105 (fontified t face css-property) 105 121 (fontified t) 121 138 (fontified t face (css-selector)) 138 140 (fontified t) 140 144 (fontified t) 144 160 (fontified t face css-property) 160 184 (fontified t) 184 189 (fontified t face css-property) 189 201 (fontified t) 201 207 (fontified t face css-property) 207 216 (fontified t) 216 234 (fontified t face (css-selector)) 234 242 (fontified t) 242 247 (fontified t face css-property) 247 270 (fontified t) 270 281 (fontified t face css-property) 281 296 (fontified t) 296 312 (fontified t face (css-selector)) 312 318 (fontified t) 318 334 (fontified t face css-property) 334 358 (fontified t) 358 363 (fontified t face css-property) 363 375 (fontified t) 375 381 (fontified t face css-property) 381 390 (fontified t) 390 406 (fontified t face (css-selector)) 406 414 (fontified t) 414 419 (fontified t face css-property) 419 433 (fontified t) 433 444 (fontified t face css-property) 444 455 (fontified t) 455 466 (fontified t face (css-selector)) 466 474 (fontified t) 474 480 (fontified t face css-property) 480 496 (fontified t) 496 506 (fontified t face css-property) 506 515 (fontified t) 515 521 (fontified t) 521 530 (fontified t face css-property) 530 544 (fontified t) 544 554 (fontified t face css-property) 554 568 (fontified t)) . -348) (t 21286 52114 0 0) nil (#("  .copy-small{
    margin: 0 auto;
    text-align: center;
    font-size: 10px;
    line-height: 1.7;
  }
  .copy{
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    line-height: 1.7;
  }
  .copy-large{
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    line-height: 1.7;
  }
  .copy-exlarge{
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    line-height: 2.3;
  }
  .copy-largest{
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
    line-height: 3.0;
  }
" 0 13 (fontified t face (css-selector)) 13 19 (fontified t) 19 25 (fontified t face css-property) 25 39 (fontified t) 39 49 (fontified t face css-property) 49 63 (fontified t) 63 72 (fontified t face css-property) 72 84 (fontified t) 84 95 (fontified t face css-property) 95 106 (fontified t) 106 113 (fontified t face (css-selector)) 113 119 (fontified t) 119 125 (fontified t face css-property) 125 139 (fontified t) 139 149 (fontified t face css-property) 149 163 (fontified t) 163 172 (fontified t face css-property) 172 184 (fontified t) 184 195 (fontified t face css-property) 195 206 (fontified t) 206 219 (fontified t face (css-selector)) 219 225 (fontified t) 225 231 (fontified t face css-property) 231 245 (fontified t) 245 255 (fontified t face css-property) 255 269 (fontified t) 269 278 (fontified t face css-property) 278 290 (fontified t) 290 301 (fontified t face css-property) 301 312 (fontified t) 312 327 (fontified t face (css-selector)) 327 333 (fontified t) 333 339 (fontified t face css-property) 339 353 (fontified t) 353 363 (fontified t face css-property) 363 377 (fontified t) 377 386 (fontified t face css-property) 386 398 (fontified t) 398 409 (fontified t face css-property) 409 420 (fontified t) 420 435 (fontified t face (css-selector)) 435 441 (fontified t) 441 447 (fontified t face css-property) 447 461 (fontified t) 461 471 (fontified t face css-property) 471 485 (fontified t) 485 494 (fontified t face css-property) 494 506 (fontified t) 506 517 (fontified t face css-property) 517 528 (fontified t)) . -298) (t 21249 46639 0 0) ((marker . 1) . -373) ((marker . 1) . -373) ((marker . 1) . -115) nil (#("
" 0 1 (fontified t)) . -1) (t 21249 46638 0 0) nil (#("#wrapper{
}
" 0 8 (face (css-selector) fontified t) 8 10 (fontified t) 10 11 (rear-nonsticky t fontified t) 11 12 (fontified t)) . -1) (t 21249 46636 0 0) nil (nil rear-nonsticky nil 82 . 83) (nil fontified nil 63 . 83) (nil fontified nil 47 . 63) (nil fontified nil 45 . 47) (nil fontified nil 35 . 45) (nil fontified nil 29 . 35) (nil fontified nil 27 . 29) (27 . 83) nil (#("  margin: 0 auto;
  background-color: rgb(235,235,235);
" 0 2 (fontified t) 2 8 (face css-property fontified t) 8 18 (fontified t) 18 20 (fontified t) 20 36 (face css-property fontified t) 36 56 (fontified t)) . -11) (t 21249 46631 0 0) nil (nil rear-nonsticky nil 67 . 68) (nil fontified nil 47 . 68) (nil fontified nil 31 . 47) (nil fontified nil 29 . 31) (nil fontified nil 19 . 29) (nil fontified nil 13 . 19) (nil fontified nil 11 . 13) (nil fontified nil 9 . 11) (nil fontified nil 1 . 9) (1 . 68) nil (1 . 3) (t 21243 19262 0 0) nil (235 . 236) nil (#("3" 0 1 (fontified t)) . -235) (t 21243 19235 0 0) nil (235 . 236) nil (#("2" 0 1 (fontified t)) . -235) (t 21219 36198 0 0) nil (761 . 764) (t 21219 36197 0 0) nil (#("2" 0 1 (fontified t)) . -761) nil (#("." 0 1 (fontified t)) . -762) nil (#("7" 0 1 (fontified t)) . -763) nil (655 . 656) nil (#("0" 0 1 (fontified t)) . -655) (t 21219 36176 0 0) nil (64 . 65) nil (#("7" 0 1 (fontified t)) . -64) (t 21219 36166 0 0) nil (655 . 656) nil (#("7" 0 1 (fontified t)) . -655) nil (653 . 654) nil (#("1" 0 1 (fontified t)) . -653) (t 21219 36152 0 0) nil (761 . 762) nil (#("1" 0 1 (fontified t)) . -761) (t 21219 36150 0 0) nil (#("あ" 0 1 (fontified t)) . -698) (698 . 699) 678 (t 21219 36056 0 0) nil (738 . 740) (t 21219 36054 0 0) nil (#("3" 0 1 (fontified t)) . -738) nil (#("0" 0 1 (fontified t)) . -739) (t 21219 36052 0 0) nil (675 . 677) nil (#("m" 0 1 (face (css-selector) fontified t)) . -670) nil (#("o" 0 1 (face (css-selector) fontified t)) . -671) nil (#("s" 0 1 (face (css-selector) fontified t)) . -672) nil (670 . 673) nil (#("e" 0 1 (face (css-selector) fontified t)) . -670) nil (#("x" 0 1 (face (css-selector) fontified t)) . -671) (t 21219 36048 0 0) nil (nil rear-nonsticky nil 769 . 770) (nil fontified nil 759 . 770) (nil fontified nil 748 . 759) (nil fontified nil 736 . 748) (nil fontified nil 727 . 736) (nil fontified nil 723 . 727) (nil fontified nil 713 . 723) (nil fontified nil 703 . 713) (nil fontified nil 689 . 703) (nil fontified nil 683 . 689) (nil fontified nil 677 . 683) (nil fontified nil 662 . 677) (662 . 770) (t 21219 36028 0 0) nil (64 . 65) (t 21219 36027 0 0) nil (#("3" 0 1 (fontified t)) . -64) (t 21219 36014 0 0) nil undo-tree-canary))
