
((digest . "4e6a2738eccb51159605b2a9ea4057e6") (undo-list (#("      <div class=\"box_category\"><%= article.category.name %></div>
" 0 7 (fontified t) 7 10 (fontified t face font-lock-function-name-face) 10 11 (fontified t) 11 16 (fontified t face font-lock-variable-name-face) 16 17 (fontified t) 17 31 (fontified t face font-lock-string-face) 31 62 (fontified t) 62 65 (fontified t face font-lock-function-name-face) 65 67 (fontified t)) . -113) (t 21185 17369 0 0) ((marker . 113) . -66) nil (#("
" 0 1 (fontified t)) . -90) (t 21185 17368 0 0) ((marker . 113) . -1) nil (#("    <%= render 'profile' if params[:page].blank? && i == 2 %>" 0 61 (fontified t)) . -91) (t 21185 17282 0 0) ((marker*) . 1) ((marker) . -61) ((marker*) . 57) ((marker) . -61)))
