
((digest . "5788c923dd8f931c1d04d8ddb1492dbc") (undo-list (nil rear-nonsticky nil 48 . 49) (nil fontified nil 48 . 49) (nil fontified nil 28 . 48) (28 . 49) nil (#("<p>Find me in app/views/message_lists/edit.html.erb</p>
" 0 1 (fontified t) 1 2 (fontified t face font-lock-function-name-face) 2 53 (fontified t) 53 54 (fontified t face font-lock-function-name-face) 54 56 (fontified t)) . -28) (t 21193 993 0 0) ((marker . 28) . -56) ((marker . 28) . -56)))
